#container {
    display: flex;
    height: 150px;
    justify-content: center;
}

@media print and (max-width: 500px) {
    #container {
        flex-direction: column;
    }
}


/* Gérer l'ordre de nos éléments enfants */
/* nav:nth-child(1) {
    order: 1;
} */

/* Gérer l'agrandissement (largeur) d'un élément enfant */
/* nav:nth-child(1) {
    color:white;
    background-color:blue;

    flex-grow: 1;

}

nav:nth-child(2) {
    color: white;
    background-color: brown;

    flex-grow: 1;
}

nav:nth-child(3) {
    background-color: chartreuse;

    flex-grow: 8;
} */


/* Gérer le rétrécissement (largeur) d'un élément enfant */
/* nav:nth-child(1) {
    color:white;
    background-color:blue;

    flex-shrink: 1;

}

nav:nth-child(2) {
    color: white;
    background-color: brown;
    
    flex-shrink: 0;
}

nav:nth-child(3) {
    background-color: chartreuse;
    
    flex-shrink: 2;
} */

/* Gérer la taille optimale avec flex-basis */
/* nav:nth-child(1) {
    color:white;
    background-color:blue;

    flex-basis: 100px;
}

nav:nth-child(2) {
    color: white;
    background-color: brown;
    
    flex-basis: 200px;
}

nav:nth-child(3) {
    background-color: chartreuse;
    
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 5;
} */


/* Raccourci pour flew-grow, shrink, basis */ 
/* nav:nth-child(1) {
    color:white;
    background-color:blue;

    flex: 0 1 100px;
}

nav:nth-child(2) {
    color: white;
    background-color: brown;
    
    flex: 0 1 200px;
}

nav:nth-child(3) {
    background-color: chartreuse;
   
    flex: 1 5 300px;
} */


/* Gérer l'alignement d'un élément enfant */
nav:nth-child(1) {
    color:white;
    background-color:blue;
    height: 50px;
    text-align: center;

    flex-grow: 1;
}

nav:nth-child(2) {
    color: white;
    background-color: brown;
    height: 50px;
    text-align: center;

    flex-grow: 1;
}

nav:nth-child(3) {
    background-color: chartreuse;
    height: 50px;
    text-align: center;

    flex-grow: 1;
}